@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --primary-color: blueviolet; 
    --primary-color-darker: violet;
}

* {
    box-sizing: border-box;
    outline: 0;

}

body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0  20px;

}

form input:focus { 
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    color: white;
}

form button:hover {
    background: var(--primary-color-darker);
}

form button:active{
    background: red;
}

.paragrafo-resultado, .bad{
    background: #099453;
    padding: 10px 20px;
}

.bad{
    background: #f2250a;
    padding: 10px 20px;
}